<div id="post-box">
  <div id='post_<%= post.id %>'>
  
  <!-- This is where the user/post info will be (pulling left) -->
  <div class='post-header'>
    <div class='post-info pull-left'>
      <p><i class="glyphicon glyphicon-user"></i> <%= post.user.user_name %> posted <%= time_ago_in_words(post.updated_at)%> ago.</p>
    </div>
  
  <!-- End -->
  
  <!-- This is where the dropdown menu for action buttons will be (pulling right) -->
  <% if post.user.id == current_user.id %>
    <div class="dropdown pull-right" id="action-button">
      <button id="post-dd" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="post-dd">
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Delete', post , method: :delete, data: { confirm: 'Are you sure?' }%></li>
      </ul>
    </div>
    <% end %>
  <!-- End -->
  </div>
  
  <!-- Where the post will be -->
  <div class='center-block' id='image-post'>
    <%= image_tag post.image.url(:medium) %><br>
  </div>
  
  <div id='status-post'>
    <strong><%= post.user.user_name %></strong>
    <%= post.status %></br>
  </div>
  <!-- End -->
  
  <!-- Where the comments will be -->
  <div id="comments_#{ post.id }">
    
    <%= render post.comments, post: post %>
    
  </div><!-- /comments -->
    
    <div id="create-comments">
      
      <%= form_for [post, post.comments.build], remote: true do |f| %>
      
      <div class="input-group">
          <%=f.text_field  :comment, placeholder: "Add a comment...", class: "form-control", id: "new-comment_#{ post.id }"%>
          <span class="input-group-btn">
            <%= f.submit 'Comment', class: "btn btn-primary"%>
          </span>
      </div><!-- /input-group -->
      
      <% end %>
      
    </div><!-- /create-comments -->
    
    <!-- End -->
</div>
  
</div>